html, body, #app, container{
    background-color: #2c3e50;
    height:100%;
    min-width: 1020px;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}


#introduction {
    color: #666;
}

.container {
    height:100%;
}
.left {
    margin-top: 10%;
    height:500px;
    box-shadow: inset black;
}

#avatar {
    width: 220px;
    height: 220px;
    margin-left: 18px;
    padding: 0;
    background: #95a5a6;
    border-radius: 110px;
}

#avatar img {
    width: 200px;
    border-radius: 100px;
    margin-left:10px;
    margin-top: 10px;
}

#avatar-frame {
    margin-top: 30%;
    margin-left:auto;
    margin-right: auto;
}

.name {
    font-family: 'Microsoft YaHei', 'SimSun', 'WenQuanYi Micro Hei Light';
    margin-top: 0.5em;
    text-align: center;
    font-size: 35px;
    font-weight:400;
    color:#ecf0f1;
}

#introduction-frame {
    color: white;
    font-family:Georgia, serif;
    margin-top: 20%;
    height: 600px;
    background: #27ae60;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 40px;
    box-shadow: 10px 10px 0px #bdc3c7;
}

#introduction {
    color: inherit;
    margin-top: 10%;
    font-size: 50px;
}
#author {
    corlor: inherit;
    margin-top: 10%;
    font-size: 30px;
    text-align: right;
}
